{% extends "SonataUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <!DOCTYPE html>
    <html style="margin-bottom: 0px">

        <head>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>mFarms Password Reset</title>

            <link 
                rel="stylesheet" media="screen" 
                href="{{ asset('bundles/report/css/demo.css') }}"
                />
            <link 
                rel="stylesheet" media="screen" 
                href="{{ asset('bundles/report/css/form-mini.css') }}"
                />
            <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
            <link rel="shortcut icon" href="{{asset('bundles/report/image/logo-white.png')}}" type="image/png">

            <style>
                html { 
                    background: url({{asset('bundles/report/image/login.jpg')}}) no-repeat center center fixed; 
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                }
                a {
                    cursor: pointer
                }

            </style>
        </head>
        <body>
            <!-- when page loads and check for user -->

            <div class="form-mini-container" style="margin-top:15%">

                <div  style="color:white">
                    {% if error == 1%}
                        <header class="label-success" style="">
                            <h2 class="form-signin-heading">Reset Password</h2>
                        </header>
                    {% endif%}
                    {% if error is null and user !=null %}
                        <header class="label-success" style="">
                            <h2 class="form-signin-heading">Check Email For Details</h2>
                        </header>
                    {% endif%}
                    {% if error==2 and user is null %}
                        <header class="label-danger" style="">
                            <h2 class="form-signin-heading">Account Not Found</h2>
                        </header>
                    {% endif%}
                    {% if error==3%}
                        <header class="label-danger" style="">
                            <h2 class="form-signin-heading">No Email Address Found </h2>
                        </header>
                    {% endif%}
                </div>
                <form id="signUp" class="form-mini"  action method="POST" {{form_enctype(userForm)}} class="sonata-filter-form form-horizontal">
                    <div class="form-row">
                        <input type="text"  id="username"  name="username" class="form-control spacing" placeholder="username or email" autofocus required>         
                    </div>
                    <div class="form-row form-last-row ">
                        <button type="submit">Reset Password</button>
                    </div>
                    <br/>
                    <div class="registration" >
                        <a style="text-decoration: none;
                           color: #41cac0;" href="{{ path('sonata_admin_dashboard')}}"> 
                            LOGIN
                        </a>
                    </div>
                </form>
            </div>
        </body>

    </html>
{% endblock fos_user_content %}