{% extends "::layout.html.twig" %}

{% block fos_user_content %}
    <!DOCTYPE html>
    <html style="margin-bottom: 0px">

        <head>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>mFarms sign in</title>

            <link 
                rel="stylesheet" media="screen" 
                href="{{ asset('bundles/report/css/demo.css') }}"
                />
            <link 
                rel="stylesheet" media="screen" 
                href="{{ asset('bundles/report/css/form-mini.css') }}"
                />
            <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
            <link rel="shortcut icon" href="{{asset('bundles/report/image/logo-white.png')}}" type="image/png">

            <style>
                html { 
                    background: url({{asset('bundles/report/image/login.jpg')}}) no-repeat center center fixed; 
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                }
                a {
                    cursor: pointer
                }

            </style>
        </head>
        <body>

            <div class="">

                <!-- You only need this form and the form-mini.css -->

                <div class="form-mini-container" style="margin-top:15%">
                    {% block sonata_user_login_error %}
                        {% if error %}
                            <header class="label-danger">
                                <h1>
                                    <i class="icon icon-thumbs-down"> </i>
                                    {{ error.messageKey|trans(error.messageData, 'security') }}           
                                </h1>
                            </header>
                        {% else %}
                            <header class="label-success">
                                <i class="icon icon-thumbs-down"> </i>
                                <h1 class="form-signin-heading">mFarms Sign In</h1>
                            </header>
                        {% endif %}
                    {% endblock %}

                    {% block sonata_user_login_form %}
                        <form  class="form-mini"  action="{{ path("sonata_user_admin_security_check") }}" method="post" role="form" class="form-horizontal">
                            <div class="form-row">
                                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" class="form-control spacing" placeholder="Username" required="required"/>

                                <div class="form-row">
                                    <input type="password" class="form-control" id="password" name="_password" required="required"  class="form-control spacing" placeholder="password"/>
                                </div>
                                <div class="form-row form-last-row ">
                                    <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"  class="btn btn-lg btn-dark btn-rounded ladda-button" data-style="expand-left">Sign In</button>

                                </div>
                                <br/>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-8">
                                        <div class="checkbox control-group">
                                            <label for="remember_me">
                                                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                                                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="col-sm-6">
                                    {% block sonata_user_registration %}
                                        <a style="text-decoration: none;
                                           color: #41cac0;" href="{{ path('mfarm_user_sign_up')}}"> 
                                            SIGNUP
                                        </a>
                                        |
                                        <a  style="text-decoration: none;color:red" href="{{ path('fos_user_resetting_request') }}">
                                            {{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}
                                        </a>
                                    {% endblock %}
                                </div>



                            </div>
                        </form>
                    </div>

                {% endblock %}
            </div>
        </body>

    </html>
{% endblock fos_user_content %}