<!DOCTYPE html>
<html style="margin-bottom: 0px">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>mFarms sign up</title>

        <link 
            rel="stylesheet" media="screen" 
            href="{{ asset('bundles/report/css/demo.css') }}"
            />
        <link 
            rel="stylesheet" media="screen" 
            href="{{ asset('bundles/report/css/form-mini.css') }}"
            />
        <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
            <link rel="shortcut icon" href="{{asset('bundles/report/image/logo-white.png')}}" type="image/png">
        <style>
            html { 
                background: url({{asset('bundles/report/image/login.jpg')}}) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            a {
                cursor: pointer
            }
        </style>
    </head>
    <body>




        <div class="">

            <!-- You only need this form and the form-mini.css -->

            <div class="form-mini-container" style="margin-top:2%">

                <div  style="color:white">
                    {% if error is null%}
                        <header class="label-success" style="">
                            <h2 class="form-signin-heading">mFarms Sign up</h2>
                        </header>
                    {% elseif error == 1 %}
                        <header class="label-danger">
                            <h2><i class="icon icon-thumbs-down"> </i>
                                {{response|raw}}</h2>
                        </header>
                    {% elseif  error == 0%}
                        <header class="label-success">
                            <h2 class="form-signin-heading" style="padding-top:10px;padding-bottom:10px;"> <i class="icon icon-thumbs-up"> </i>{{response|raw}}
                            </h2>
                        </header>
                    {% endif%}
                </div>

                <form id="signUp" class="form-mini"  action method="POST" {{form_enctype(userForm)}} class="sonata-filter-form form-horizontal">
                    <div class="form-row">
                        <input type="text"  id="fullname" value="{{fullname}}" name="fullname" class="form-control spacing" placeholder="Full Name" autofocus required>                </div>

                    <div class="form-row">
                        <input type="email"  id="email" value="{{email}}" name="email" placeholder="Your Email">
                    </div>
                    <div class="form-row">
                        <input type="tel"  id="contact" value="{{contact}}" name="contact" class="form-control spacing" placeholder="Contact eg: 233240000000" autofocus required>      
                    </div>
                    <div class="form-row text-center">
                        Enter your account details below
                    </div>

                    <div class="form-row">
                        <input type="text"  id="username" value="{{username}}" name="username" class="form-control spacing" placeholder="User Name" autofocus required>         
                    </div>
                    <div class="form-row">
                        <input type="password"  id="password"  name="password" class="form-control spacing" placeholder="Password" required>
                    </div>
                    <div class="form-row">
                        <input type="password" id="passwordConfirm"  name="passwordConfirm" class="form-control spacing" placeholder="Re-type Password" required>       
                    </div>

                    <div class="form-row form-last-row ">
                        <button type="submit">Sign up</button>
                    </div>
                    <br/>
                    <div class="registration" >
                        Already Registered.
                        <a style="text-decoration: none;
                           color: #41cac0;" href="{{ path('sonata_admin_dashboard')}}"> 
                            LOGIN
                        </a>
                    </div>

                </form>
            </div>
        </div>

    </body>
    <script src="{{ asset('js/jquery-1.7.1.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
    {#    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>#}
    <script>
        jQuery.validator.setDefaults({
            debug: false,
            success: "valid"
        });
        $("#signUp").validate({
            rules: {
                password: "required",
                passwordConfirm: {
                    equalTo: "#password"
                }
            }
        });
    </script>
</html>
