
{% extends '::layout.html.twig' %}
{% block stylesheets %}
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
{% endblock %}
{% block mymodule %} My Agents{% endblock %}
{% block modulelist %} Agent List{% endblock %}
{% block right_section %}
{% if form %}
{% form_theme form '::fields.html.twig' %}
{% endif %}
<script src="{{ asset('js/SetMapLatlong.js') }}"></script>
 <div class="span9 farmer-right register-inner">
  <!-- Farmer Group -->
    <div class="farmer-detail-2">
        <ul class="breadcrumb">
            <li><a href="{{ path('api_userbundle_get_user_agents',{'parentId':parentId}) }}">Agent List</a> <span class="divider">/</span></li>
            <li><a href="{{ path('api_userbundle_new_user_agent',{'parentId':parentId}) }}">Add Agent</a> <span class="divider">/</span></li>
        </ul>
    </div>
                
    <div class="row-fluid register-form">
      <div class="span8">
        {%  if (form is not null and entity is defined ) %}
          <form action="{{ url('api_userbundle_put_user_agent',{ 'parentId':parentId, 'id' : entity.id } ) }}" method="POST"  class="form-horizontal">
            <fieldset>
                <input type="hidden" name="_method" value="put" >
                {{ form_row(form.username) }}
                <div class="control-group">
                  <label class="control-label" for="textinput">
                    {{ form_label(form.email, label|default(null) ) }}
                  </label>
                  <div class="controls">
                    {{ form_widget(form.email) }}(eg: isaac@imagead.net)
                  </div>
                  <span class="message">
                        {{ form_errors(form.email) }}
                  </span>
                </div>
              {{ form_row(form.firstName) }}
              {{ form_row(form.middleName) }}
              {{ form_row(form.lastName) }}
               {{ form_row(form.phoneNo) }}
                <div class="control-group">
                  <label class="control-label" for="textinput">
                    {{ form_label(form.mobileNo, label|default(null) ) }}
                  </label>
                  <div class="controls">
                    {{ form_widget(form.mobileNo) }}(eg: 242280191)
                  </div>
                  <span class="message">
                        {{ form_errors(form.mobileNo) }}
                  </span>
                </div>
                {{ form_row(form.address) }}
                {{ form_row(form.country) }}
                {{ form_row(form.region) }}
                {{ form_row(form.district) }}
                {{ form_row(form.town) }}
                {{ form_row(form.logo) }}
                {{ form_row(form.technicalKnow) }}
                {{ form_row(form.serviceProvided) }}
                {{ form_row(form.latitude) }}
                {{ form_row(form.longitude) }}
                <div id="map" style="width:700px !important; height:500px !important;"></div>
                {{ form_row(form.save) }}
            </fieldset>             
          </form>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        load();
    </script>
{% endblock %} 
  