{% extends '::layout.html.twig' %}
{% block stylesheets %}
  <script
  src="http://maps.google.com/maps/api/js?sensor=true"
  type="text/javascript"></script>
{% endblock %}
{% block mymodule %} My Agents{% endblock %}
{% block modulelist %} Agent List{% endblock %}
{% block right_section %}
<script type="text/javascript">
    var map;
    var markers = [];
    var infoWindow;
    var locationSelect;
    function load() {
        var center; 

        map = new google.maps.Map(document.getElementById("map"), {
          center: new google.maps.LatLng(6.926426847059551,-0.7470703125),
          zoom: 4,
          mapTypeId: 'roadmap',
          mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU}
        });
        
        infoWindow = new google.maps.InfoWindow();
    }
      
      
    function mapMarkersToMap(data,rows ){
      var jsonObjects = JSON.parse(data);
       for (var i=1 ; i < rows; i ++ ) {
          var aa=('a'+i);
            var bb=('b'+i);
            var cc=('c'+i);
            var dd=('d'+i);
          if(parseFloat(jsonObjects[bb.toString()].lat) != 0 || parseFloat(jsonObjects[cc.toString()].lng) != 0){
              
              var html ='<table class="classMapTable"><tr align=left"><th width="120px;">Item</th><th width="200px;">Description</th></tr><tr valign="top"><td><strong>First Name</strong></td><td>'+jsonObjects[aa.toString()].html.fname+'</td></tr><tr valign="top"><td><strong>Middle Name</strong></td><td>'+jsonObjects[aa.toString()].html.mname+'</td></tr><tr valign="top"><td><strong>Last Name</strong></td><td>'+jsonObjects[aa.toString()].html.lname+'</td></tr><tr valign="top"><td><strong>Email</strong></td><td>'+jsonObjects[aa.toString()].html.email+'</td></tr><tr valign="top"><td><strong>mobile</strong></td><td>'+jsonObjects[aa.toString()].html.mobile+'</td></tr></table>';
                var latlng = new google.maps.LatLng(
                  jsonObjects[bb.toString()].lat,
                    jsonObjects[cc.toString()].lng);
                  var img = jsonObjects[dd.toString()].img;

                  createMarker(latlng, html, img);
          }
      }   
    }
    function createMarker(latlng, html, img) {
      var html = html;
        var marker = new google.maps.Marker({
          map: map,
          position: latlng,
          icon: img
        });
        
        google.maps.event.addListener(marker, 'click', function() {
          infoWindow.setContent(html);
          infoWindow.open(map, marker);
        });
        markers.push(marker);
    }
</script>
<div class="span9 farmer-right">
{% if (app.session.flashbag.has('success') or app.session.flashbag.has('error')) %}
    {% if app.session.flashbag.has('error') %}
      <div id="alert-message" class="alert alert-error">
          <a class="close" href="#">&times;</a>
          <span class="alert-heading"><strong>Error!! </strong></span>
          <span class="alert-content">{{ app.session.flashbag.get('error') | join(', ') }} </span>
      </div>
      <div class="clear-both"></div>
    {% endif %}
    {% if app.session.flashbag.has('success') %}
      <div id="alert-message" class="alert alert-success">
          <a class="close" href="#">&times;</a>
          <span class="alert-heading"><strong>Success!! </strong></span>
          <span class="alert-content">{{ app.session.flashbag.get('success') | join(', ') }} </span>
      </div>
      <div class="clear-both"></div>
    {% endif %}

{% endif %}
  <!-- Farmer Group -->
{% if (app.session.flashbag.has('success') or app.session.flashbag.has('error')) %}
    {% if app.session.flashbag.has('error') %}
      <div id="alert-message" class="alert alert-error">
          <a class="close" href="#">&times;</a>
          <span class="alert-heading"><strong>Error!! </strong></span>
          <span class="alert-content">{{ app.session.flashbag.get('error') | join(', ') }} </span>
      </div>
      <div class="clear-both"></div>
    {% endif %}
    {% if app.session.flashbag.has('success') %}
      <div id="alert-message" class="alert alert-success">
          <a class="close" href="#">&times;</a>
          <span class="alert-heading"><strong>Success!! </strong></span>
          <span class="alert-content">{{ app.session.flashbag.get('success') | join(', ') }} </span>
      </div>
      <div class="clear-both"></div>
    {% endif %}

{% endif %}
    {% block search %}
      {# {{ include('userbundle:Farmer:farmer_search.html.twig') }} #}
    {% endblock %}
     <div class="farmer-detail-2">
        <ul class="breadcrumb">
            <li><a href="{{ path('api_userbundle_new_user_agent',{'parentId':parentId}) }}">Add Agents</a> <span class="divider">/</span></li>
            <li><a href="{{ path('api_userbundle_new_user_maptoreport') }}">Map Report</a> <span class="divider">/</span></li>
        </ul>
    </div>

    <div class="table-listing">
      <div class="framer-table">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="table-list-first"><input type="checkbox" name="agents" class="chk_select_all"></th>
              <th>{{ knp_pagination_sortable(agents, 'Id', 'a.id') }}</th>
              <th>Photo</th>
              <th {% if agents.isSorted('a.firstName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(agents, 'Full Name', 'a.firstName') }}</th>
              <th> Email</th>
              <th> Mobile No</th>
              <th colspan="8" class="table-list-last">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for agent in agents %}
              <tr {% if loop.index is odd %}class="odd"{% endif %}>
                <td><input type="checkbox" name="a" value="{{ agent.id }}"></td>
                <td> {{ agent.id }}</td>
                <td>
                  {% if agent.logo == '' or agent.logo == null %}
                    <img src="{{ asset('images/img_not_available.gif') }}" />
                  {% else %}
                    <img style="width:50px; height:50px" src="{{ asset('uploads/users/' ~ agent.logo) }}" />
                  {% endif %}
                </td>
                <td> {{ agent.firstName ? agent.firstName ~ ' ' ~ agent.lastName : '' }}</td>
                <td> {{ agent.email ? agent.email : '' }}</td>
                <td>{{ agent.mobileNo ? agent.mobileNo : '' }}</td>
                <td><a title="Edit" href="{{ path('api_userbundle_edit_user_agent',{'parentId': agent.parent ? agent.parent.id : 1, 'id': agent.id}) }}"><img src="{{ asset('images/list-icon-1.png') }}" alt=""></a></td>
                <td>
                   <a title="Delete" href="{{ path('api_userbundle_delete_user_agent',{'parentId': agent.parent ? agent.parent.id : 1, 'id': agent.id}) }}" data-method="DELETE" class="rest"><img src="{{ asset('images/list-icon-2.png') }}" alt=""></a>
                </td>
                <td><a title="Send Sms" href="{{ path('api_contactbundle_new_agent_sms',{'id': agent.id}) }}"><img src="{{ asset('images/list-icon-3.png') }}" alt=""></a></td>
                <td><a title="Send VoiceMessage" href="{{ path('api_contactbundle_new_agent_voicemessage',{'id': agent.id}) }}"><img src="{{ asset('images/list-icon-4.png') }}" alt=""></a></td>
                <td>
                  <a title="Send Email" href="{{ path('settingbundle_send_mail',{'module': 'agent', 'id': agent.id }) }}">
                    <img src="{{ asset('images/mail_icon.png') }}" alt="">
                  </a>
                </td>
              </tr>
              {% set mapdata = mapdata|merge( {
                      'fname' : (agent.firstName)?agent.firstName|escape :'-'} ) %}
              {% set mapdata = mapdata|merge( {
                      'mname' : (agent.middleName)?agent.middleName|escape :'-'} ) %}
              {% set mapdata = mapdata|merge( {
                      'lname' : (agent.lastName)?agent.lastName|escape :'-'} ) %}
              {% set mapdata = mapdata|merge( {
                      'email' : (agent.email)?agent.email|escape :'-'} ) %}
              {% set mapdata = mapdata|merge( {
                      'mobile' : (agent.mobileNo)?agent.mobileNo|escape :'-'} ) %}

              {% set mapMoreData = mapMoreData|merge({('a' ~ loop.index) :{'html': mapdata |escape } } )  %}
              {% set mapMoreData = mapMoreData|merge({('b' ~ loop.index) :{'lat':agent.latitude } } ) %}
              {% set mapMoreData = mapMoreData|merge({('c' ~ loop.index) :{'lng':agent.longitude } } ) %}
              {% set mapMoreData = mapMoreData|merge({('d' ~ loop.index) :{'img':'/images/mm_20_green.png'} } ) %}
              {% set counter = counter + 1 %}
            {% endfor %}
          </tbody>
        </table>
        <div class="row-fluid farmer-paging">Total Agents : {{totalAgents}}<div class="select-group">
                  <button id="farmer_group" name="farmer_group" class="btn btn-success btn-success-1">Select Group</button>
                  <a href="#" class="btn btn-success btn-success-1" id="deleteSelected"><i class="icon-white icon-trash"></i></a>
            </div>  
        </div>
       
        {{ knp_pagination_render(agents, '::pagination_navigation.html.twig') }}
      
      </div>
      <div id="map" style="width: 745px; height: 500px;"></div>
    </div>
  </div>
</div>
<script>
  load();
  mapMarkersToMap('{{ mapMoreData|json_encode()|raw }}', {{ counter + 1 }} );
</script>
<script type="text/javascript" src="{{ asset('js/restfulizer.js') }}"></script>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/restfulizer.js') }}"></script>
<script>

  $(document).ready(function(){

      $('input.chk_select_all').toggle(function(){
          $('input:checkbox[name=a]').attr('checked','checked');
          $('input.chk_select_all').attr('checked','checked');
      },function(){
          $('input:checkbox[name=a]').removeAttr('checked');
          $(this).removeAttr('checked');
      });

    var selectedFarmers = new Array();
    $('#deleteSelected').on('click',function(){
        var r = confirm("Are you sure?");
        if (r == false) {
            return false;
        }
        $('input:checkbox[name=f]').each(function(){
          if($(this).prop('checked')){
            selectedFarmers.push($(this).val());
          }
        });
        deleteFarmer(selectedFarmers);
        selectedFarmers = new Array();
        return false;
    });
    function deleteFarmer(selectedFarmers){
      $.ajax({
              type: "POST",
              data: {'selectedFarmers' : selectedFarmers },
              url:  "{{ path('api_farmerbundle_post_farmer_multiple')}}",
              success: function(data){
                  location.reload(true);
              }
        });
    }

  });

</script>
{% endblock %}