
{% extends '::layout.html.twig' %}

{% block stylesheets %}
  <script
  src="http://maps.google.com/maps/api/js?sensor=true"
  type="text/javascript"></script>
{% endblock %}
{% block mymodule %} My Agent{% endblock %}
{% block modulelist %} Map Report List{% endblock %}
{% block right_section %}

<div class="span9 farmer-right">
    <div class="farmer-detail-2">
        <ul class="breadcrumb">
            <li><a href="{{ path('api_userbundle_new_user_agent',{'parentId':parentId}) }}">Add Agents</a> <span class="divider">/</span></li>
            <li><a href="{{ path('api_userbundle_new_user_maptoreport') }}">Map Report</a> <span class="divider">/</span></li>
        </ul>
    </div>
<script type="text/javascript">
    var map;
    var markers = [];
    var infoWindow;
    var locationSelect;
    function load() {
        var center; 

        map = new google.maps.Map(document.getElementById("map"), {
          center: new google.maps.LatLng(6.926426847059551,-0.7470703125),
          zoom: 4,
          mapTypeId: 'roadmap',
          mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU}
        });
        
        infoWindow = new google.maps.InfoWindow();
    }
      
      
    function mapMarkersToMap(data,rows ){
      var jsonObjects = JSON.parse(data);
       for (var i=1 ; i < rows; i ++ ) {
          var aa=('a'+i);
            var bb=('b'+i);
            var cc=('c'+i);
            var dd=('d'+i);
          if(parseFloat(jsonObjects[bb.toString()].lat) != 0 || parseFloat(jsonObjects[cc.toString()].lng) != 0){
              
              var html ='<table class="classMapTable"><tr align=left"><th width="120px;">Item</th><th width="200px;">Description</th></tr><tr valign="top"><td><strong>'+jsonObjects[aa.toString()].html.userType+'</strong></td><td>'+jsonObjects[aa.toString()].html.firstName+'</td></tr><tr valign="top"><td><strong>First Name</strong></td><td>'+jsonObjects[aa.toString()].html.firstName+'</td></tr><tr valign="top"><td><strong>Mobile</strong></td><td>'+jsonObjects[aa.toString()].html.mobile+'</td></tr>';

              if("{{ userType }}" == 'Farmer'){
                  html = html+'<tr valign="top"><td><strong>Association</strong></td><td>'+jsonObjects[aa.toString()].html.association+'</td></tr>'        
              }
              if("{{ userType }}" == 'Fbo'){
                  html = html+'<tr valign="top"><td><strong>Reg.Year</strong></td><td>'+jsonObjects[aa.toString()].html.year+'</td></tr>'        
              }

              html = html+'<tr valign="top"><td><strong>Region</strong></td><td>'+jsonObjects[aa.toString()].html.region+'</td></tr><tr valign="top"><td><strong>District</strong></td><td>'+jsonObjects[aa.toString()].html.district+'</td></tr></table>';
                var latlng = new google.maps.LatLng(
                  jsonObjects[bb.toString()].lat,
                    jsonObjects[cc.toString()].lng);
                  var img = jsonObjects[dd.toString()].img;

                  createMarker(latlng, html, img);
          }
      }   
    }
    function createMarker(latlng, html, img) {
      var html = html;
        var marker = new google.maps.Marker({
          map: map,
          position: latlng,
          icon: img
        });
        
        google.maps.event.addListener(marker, 'click', function() {
          infoWindow.setContent(html);
          infoWindow.open(map, marker);
        });
        markers.push(marker);
    }
</script>
  <!-- Farmer Group -->
    {% for mapData in mapDatas %}
        {% if mapData.latitude != '' and mapData.latitude != null and mapData.longitude != '' and mapData.longitude != null %}
          {% set mapdata = mapdata|merge( {
                  'userType' : userType } ) %}
          {% if userType == "Fbo" %}
              {% set mapdata = mapdata|merge( {
                  'firstName' : (mapData.name)?mapData.name|escape :'-'} ) %}
          {% else %}
              {% set mapdata = mapdata|merge( {
                  'firstName' : (mapData.firstName)?mapData.firstName|escape :'-'} ) %}
          {% endif %}
          {% set mapdata = mapdata|merge( {
                  'mobile' : (mapData.mobileNo)?mapData.mobileNo|escape :'-'} ) %}
          {% set mapdata = mapdata|merge( {
                  'region' : (mapData.region)?mapData.region.name|escape :'-'} ) %}
          {% set mapdata = mapdata|merge( {
                  'district' : (mapData.district)?mapData.district.name|escape :'-'} ) %}
          {% if userType == "Farmer" %}
              {% set mapdata = mapdata|merge( {
                  'association' : (mapData.associationName)?mapData.associationName.name|escape :'-'} ) %}
          {% endif %}
          {% if userType == "Fbo" %}
              {% set mapdata = mapdata|merge( {
                  'year' : (mapData.registrationYear)?mapData.registrationYear|escape :'-'} ) %}
          {% endif %}

          {% set mapMoreData = mapMoreData|merge({('a' ~ loop.index) :{'html': mapdata |escape } } )  %}
          {% set mapMoreData = mapMoreData|merge({('b' ~ loop.index) :{'lat':mapData.latitude } } ) %}
          {% set mapMoreData = mapMoreData|merge({('c' ~ loop.index) :{'lng':mapData.longitude } } ) %}
          {% if userType == "Agent" %}
            {% set mapMoreData = mapMoreData|merge({('d' ~ loop.index) :{'img':'/images/new.png'} } ) %}
          {% endif %}
          {% if userType == "Aggregator" %}
            {% set mapMoreData = mapMoreData|merge({('d' ~ loop.index) :{'img':'/images/mm_20_purple.png'} } ) %}
          {% endif %}
          {% if userType == "Fbo" %}
            {% set mapMoreData = mapMoreData|merge({('d' ~ loop.index) :{'img':'/images/new2.png'} } ) %}
          {% endif %}
          {% if userType == "Farmer" %}
            {% set mapMoreData = mapMoreData|merge({('d' ~ loop.index) :{'img':'/images/mm_20_green.png'} } ) %}
          {% endif %}
          {% set counter = counter + 1 %}
        {% endif %}
    {% endfor %}
    <div class="table-listing">                 
      <div id="map" style="width: 745px; height: 500px;"></div>
    </div>
  </div>
</div> 
<script>
  load();
  mapMarkersToMap('{{ mapMoreData|json_encode()|raw }}', {{ counter + 1 }} );
</script>
{% endblock %}