{% extends "OhGoogleMapFormTypeBundle:Form:google_maps.html.twig" %}


{% block oh_google_maps_javascripts %}
		{% if include_jquery %}
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		{% endif %}
		{% if include_gmaps_js %}
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
		{% endif %}
		
{#		<script type="text/javascript" src="{{ asset('bundles/js/ohgojs.js') }}"></script>#}
                
		
	{% endblock %}
