<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" >
        <meta name="google-translate-customization" content="a8d9ee6cbbb1ac99-5c935175f63b7d22-g9748cc4929d14233-f"></meta>
        <title>{% block title %}Welcome{% endblock %}</title>

        <!-- Bootstrap -->
        {% block default_stylesheets %}
            <link rel="stylesheet" media="screen" href="{{ asset('css/bootstrap.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('css/bootstrap-responsive.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('css/style.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('css/jquery-ui.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('css/custom.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('css/submenu.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('css/actionmenu.css') }}" />
        {% endblock %}
        {% block stylesheets %}
        {% endblock %}
        <script src="{{ asset('js/jquery-1.7.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script src="{{ asset('js/submenu.js') }}"></script>
        <script src="{{ asset('js/actionmenu.js') }}"></script>


    </head>
    <body>
    {% block body %}{% endblock %}
{% block javascripts %}{% endblock %}


<script type="text/javascript" src="https://imagead.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e/en_USyhfl88-1988229788/6318/15/1.4.10/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=6d5b945a"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'af,en,es,fr,nl,pt,sw', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
    var moduleArray = ["Services", 'Partners'];
    var moduleName = $("#moduleName").attr('data-module');
    var obj = $("li:contains('" + moduleName + "')");
    if (moduleArray.indexOf(moduleName) >= 0) {
        $("li").removeClass('active');
        obj.addClass('active');
    }
</script>
</body>
</html>
