<!DOCTYPE html>
<html lang="en-US" class=" html_stretched responsive av-preloader-disabled av-default-lightbox  html_header_top html_logo_left html_bottom_nav_header html_menu_left html_slim html_header_sticky html_header_shrinking html_mobile_menu_phone html_disabled html_header_searchicon html_content_align_center html_header_unstick_top html_header_stretch html_minimal_header html_minimal_header_shadow html_elegant-blog html_entry_id_19 ">

    <!-- Mirrored from www.mfarms.org/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Aug 2016 15:26:12 GMT -->
    <!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
    {% include 'MfarmClientPageBundle:Default:head.html.twig' %}

    <body id="top" class="home page page-id-19 page-template-default stretched open_sans " itemscope="itemscope" itemtype="https://schema.org/WebPage" >

        <div id='wrap_all'>
            {% include 'MfarmClientPageBundle:Default:menu.html.twig' %}
            <div id='main' >
                <!--show slider-->
                <div class='container_wrap container_wrap_first main_color sidebar_right '>
                    <div class='container'>
                        {#                        main content#}
                        <main class="content av-content-small alpha units" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="https://schema.org/Blog">
                            <div class='post-entry post-entry-type-page post-entry-5'>
                                <div class="entry-content-wrapper clearfix">
                                    <div class="row">
                                    {% block content %}{% endblock %}
                                </div>

                            </div>
                        </div>

                    </main>
                    <!-- close  main content main div -->

                    <aside class="sidebar sidebar_right  alpha units"
                           role="complementary" itemscope="itemscope" 
                           itemtype="https://schema.org/WPSideBar">

                        <div class="inner_sidebar extralight-border">	
                            <section id="text-3" class="widget clearfix widget_text" style="padding:0px;margin:0px">
                                {% block sideright %}
                                    {% include 'MfarmClientPageBundle:Default:contactAside.html.twig' %}
                                {% endblock %}

                            </section>
                        </div>
                        <hr>
                        <div class="inner_sidebar extralight-border">	
                            <section id="text-3" class="widget clearfix widget_text" style="padding:0px;margin:0px">

                                {% include 'MfarmClientPageBundle:Default:facebook.html.twig' %}
                            </section>
                        </div>

                    </aside>
                </div>
            </div>

        </div>
    </div>


    {#  partners#}

    {% include 'MfarmClientPageBundle:Default:partners.html.twig' %}

    <!-- close default .container_wrap element -->						
    <!-- footer contact -->

    {% include 'MfarmClientPageBundle:Default:footerContact.html.twig' %}
    <!-- footer container -->						
    {% include 'MfarmClientPageBundle:Default:footer.html.twig' %}
</body>

<!-- Mirrored from www.mfarms.org/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Aug 2016 15:31:43 GMT -->
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var maxHeight = 0;
        $(".equalize-team").each(function () {
            if ($(this).height() > maxHeight) {
                maxHeight = $(this).height();
            }
        });
        $(".equalize-team").height(maxHeight);
    });
</script>