{% extends "SonataAdminBundle::standard_layout.html.twig"%}
{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/layout.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/customized.css') }}"/>
    <link rel="stylesheet" href="{{asset('bundles/mfarmactor/imagelarger/jquery.fancybox.css')}}" type="text/css" media="screen" />
{% endblock %}

{#{% block sonata_top_nav_menu_add_block %}#}

    {#<li class="dropdown">#}
        {#<p class="text-center large" style="padding: 9px;  margin-top:7px ;margin-right:5px ; border-radius: 25px;">#}
            {#<i class="fa fa-question-circle-o" aria-hidden="true"></i>#}
            {#<a href="{{ asset('userguide.html') }}" rel="noreferrer"  target="_blank" style="color: #333" >HELP</a>#}
        {#</p>#}
    {#</li>#}
    {#<li>#}
        {#<a class="dropdown-toggle" data-toggle="dropdown" hrf="#">#}
            {#<i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i class="fa fa-caret-down" aria-hidden="true"></i>#}
        {#</a>#}
        {#{% include sonata_admin.adminPool.getTemplate('add_block') %}#}
    {#</li>#}
{#{% endblock %}#}

{% block sonata_nav %}
<nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>

{#    {% include 'MenuBundle:Menu:menu.html.twig' %}#}

    <div class="navbar-left">
        {% block sonata_breadcrumb %}
            <div class="hidden-xs">
                {% if _breadcrumb is not empty or action is defined %}
                    <ol class="nav navbar-top-links breadcrumb">
                        {% if _breadcrumb is empty %}
                            {% if action is defined %}
                                {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                                    {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                                    {%- set label = menu.label -%}
                                    {%- if translation_domain is not same as(false) -%}
                                        {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                                    {%- endif -%}

                                    {% if not loop.last %}
                                        <li>
                                            {% if menu.uri is not empty %}
                                                <a href="{{ menu.uri }}">
                                                    {% if menu.extra('safe_label', true) %}
                                                        {{- label|raw -}}
                                                    {% else %}
                                                        {{- label -}}
                                                    {% endif %}
                                                </a>
                                            {% else %}
                                                <span>{{ label }}</span>
                                            {% endif %}
                                        </li>
                                    {% else %}
                                        <li class="active"><span>{{ label }}</span></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {{ _breadcrumb|raw }}
                        {% endif %}
                    </ol>
                {% else %}
                    <div class="navbar-left">
                        <div class="hidden-xs">
                            <ol class="nav navbar-top-links breadcrumb">
                                <li>
                                    <a href="{{ path('sonata_admin_dashboard') }}">
                                        <i class="fa fa-home"></i>                                                    </a>
                                </li>
                                {#<li>#}
                                {#<a href="/app_dev.php/admin/mfarm/report/dashboard/list">#}
                                {#Prince                                                    </a>#}
                                {#</li>#}
                                {#<li class="active"><span>Test</span></li>#}
                            </ol>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endblock sonata_breadcrumb %}
    </div>

    {% block sonata_top_nav_menu %}
        {% if app.user and is_granted('ROLE_SONATA_ADMIN') %}
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    {% block sonata_top_nav_menu_add_block %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i> <i
                                        class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                            {% include sonata_admin.adminPool.getTemplate('add_block') %}
                        </li>
                    {% endblock %}
                    {% block sonata_top_nav_menu_user_block %}
                        <li class="dropdown user-menu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw" aria-hidden="true"></i> <i
                                        class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                {% include sonata_admin.adminPool.getTemplate('user_block') %}
                            </ul>
                        </li>
                    {% endblock %}

                    <li class="dropdown user-menu">

                        <button type="button" class="btn btn-primary" style="margin: 5px;">
                            Credits <span class="badge badge-light">{{ app.user.accountBalance ? : 0 }}</span>
                        </button>

                    </li>

                </ul>
            </div>
        {% endif %}
    {% endblock %}
</nav>
{% endblock sonata_nav %}


{% block side_bar_after_nav %}

    <p class="text-center small" style="border-top: 1px solid #444444; padding-top: 10px">
        <a href="https://imagead.net" rel="noreferrer" target="_blank">© 2019 Image-Ad Ltd </a></p>
    {% endblock %}


{% block footer %}                
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('bundles/mfarmactor/imagelarger/jquery.fancybox.js')}}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.tooltipster.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
         
            $(".fancybox").fancybox();
            
        });
        
    </script>
    <script type="text/javascript">

        var flag = true;
        var varthissound = null;
        function playSound(soundobj) {

            var thissound = document.getElementById(soundobj);

            if (varthissound && thissound != varthissound) {
                flag = true;
                varthissound.pause();
                varthissound.currentTime = 0;
            }
            console.log(varthissound);
            if (flag) {
                flag = false;
                varthissound = thissound;
                thissound.play();
            } else {
                flag = true;
                thissound.pause();
                thissound.currentTime = 0;
            }
        }
    </script>
{% endblock javascripts %}

