{# custom Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div id="pagination">
    {% if first is defined and current != first %}
        <a class="pager first button white" href="{{ path(route, query|merge({'page': first})) }}">
            <<
        </a>
    {% endif %}

    {% if previous is defined %}
        <a class="pager previous button white" href="{{ path(route, query|merge({'page': previous})) }}">&lt;</a>
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
            <a class="pager page" href="{{ path(route, query|merge({'page': page})) }}">{{ page }}</a>
        {% else %}
            <span class="current">{{ page }}</span>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
        <a class="pager next button white" href="{{ path(route, query|merge({'page': next})) }}">&gt;</a>
    {% endif %}

    {% if last is defined and current != last %}
        <a class="pager last button white" href="{{ path(route, query|merge({'page': last})) }}">
            >>
        </a>
    {% endif %}
</div>
{% endif %}
