{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block actions %}
    <div class="sonata-actions">
    	{#<span class="btn-group sonata-action-element">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-download"></i>
                Action
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                    <li>    
                        <a href="#">Export Data</a>
                    	<a href="{{ path('admin_import_country') }}">Import Data</a>
                    </li>
            </ul>
        </span>#}
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
    </div>
{% endblock %}