<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>mAccess - Account Login</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/starter-template/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('registration/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('registration/css/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

</head>
<body>
<section class="login-section sign-in sign-in-desktop">
    <div class="container">
        <div class="login-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="sign-in-left" style="">
                        <img src="" class="img-fluid"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="login-form">
                        <h5>ACCOUNT LOGIN</h5>
                        <form action="{{ path("sonata_user_admin_security_check") }}" method="post" role="form">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                    <input type="text" class="form-control" id="username"  name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans({}, 'SonataUserBundle') }}"/>
                                </div>
                                <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                                    <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}"/>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button type="submit" class="btn btn-primary site-btn-green" STYLE="border-radius:0px;">SIGN IN</button>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h6><span><a href="{{ reset_route }}"> {{ 'forgotten_password'|trans({}, 'SonataUserBundle') }}</a></span></h6>
                            </div>
                        </div>
                        <div class="social-login text-center">
                            <h6>OR</h6>
                            <a class="btn btn-primary facebook-btn" href="{{ path('connect_facebook_start') }}"><i class="fab fa-facebook-f"></i> LOGIN WITH FACEBOOK</a>
{#                            <button onclick="location.href={{ path('connect_facebook_check') }}" class="btn btn-primary facebook-btn"><i class="fab fa-facebook-f"></i> LOGIN WITH FACEBOOK</button>#}
                            <button class="btn btn-primary twitter-btn"><i class="fab fa-twitter"></i> LOGIN WITH TWITTER</button>
                            <button class="btn btn-primary googleplus-btn"><i class="fab fa-google-plus-g"></i> LOGIN WITH GOOGLE+</button>
                        </div>
                        <div class="bottom">
                            <a href="{{ path('user_registration') }}">SIGNUP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="login-section sign-in-mobile">
    <div class="container">
        <div class="login-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-form">
                        <div class="user-profile">
                            <img src="{{ asset('registration/images/avatar-icon.png') }}" alt="Avatar" class="avatar">
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                                <div class="col-12">
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="col-12 remember-me">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="remember" checked>
                                        <label class="custom-control-label" for="remember">Remember me</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button class="btn btn-primary site-btn-green">SIGN IN</button>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h6>Forgot<span><a href="#"> Password ?</a></span></h6>
                            </div>
                        </div>
                        <div class="social-login text-center">
                            <h6>OR</h6>
                            <button class="btn btn-primary facebook-btn"><i class="fab fa-facebook-f"></i></button>
                            <button class="btn btn-primary twitter-btn"><i class="fab fa-twitter"></i></button>
                            <button class="btn btn-primary googleplus-btn"><i class="fab fa-google-plus-g"></i></button>
                        </div>
                        <div class="bottom">
                            <a href="{{ path('user_registration') }}">SIGNUP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="{{ asset('registration/js/bootstrap.min.js') }}"></script></body>
<script>
    (function($) {
        "use strict";

        var $navbar = $(".nav"),
            y_pos = $navbar.offset().top,
            height = $navbar.height();

        //scroll top 0 sticky
        $(document).scroll(function() {
            var scrollTop = $(this).scrollTop();
            if (scrollTop > 0) {
                $navbar.addClass("sticky");
            } else {
                $navbar.removeClass("sticky");
            }

            if($('#nav').hasClass('sticky'))
            {
                document.getElementById('nav').style.display = 'block';
            }
            else{
                document.getElementById('nav').style.display = 'none';
            }
        });

        //section sticky
        /*$(document).scroll(function() {
            var scrollTop = $(this).scrollTop();
            if ($(window).height() > scrollTop) {
              $navbar.removeClass("sticky");
            } else {
              $navbar.addClass("sticky");
            }
        });*/

    })(jQuery, undefined);

    $(".menu").click(function(){
        $("#nav").toggleClass("open");
    });

</script>
</body>
</html>