
{% extends '::layout.html.twig' %}
{% block mymodule %} My Regions{% endblock %}
{% block modulelist %} Edit Region{% endblock %}
{% block right_section %}
{% if form %}
{% form_theme form '::fields.html.twig' %}
{% endif %}
 <div class="span9 farmer-right register-inner">
  <!-- Farmer Group -->
    <div class="farmer-detail-2">
        <ul class="breadcrumb">
            <li><a href="{{ path('api_locationbundle_get_regions') }}">Regions list</a> <span class="divider">/</span></li>
            <li><a href="{{ path('api_locationbundle_new_region') }}">Add Region</a> <span class="divider">/</span></li>
        </ul>
    </div>
                
    <div class="row-fluid register-form">
      <div class="span8">
        {%  if (form is not null and entity is defined) %}
          <form action="{{ url('api_locationbundle_put_region',{ 'id' : entity.id }) }}" method="POST"  class="form-horizontal">
            <input type="hidden" name="_method" value="put">
            <fieldset>
                {{ form_row(form) }}
                {{ form_rest(form) }}                        
            </fieldset>             
          </form>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
  