{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        
        $(document).ajaxSuccess(function() {
             
            $('#field_actions_{{ admin.uniqId }}_userCreditDetail').remove();
            $('td.sonata-ba-td-{{ admin.uniqId }}_userCreditDetail-user').remove();
            $('#field_container_{{ admin.uniqId }}_userCreditDetail').find('th:last').remove();
            $('#field_widget_{{admin.uniqId}}_userCreditDetail input').attr('disabled', 'disabled');
        });  
    </script>  
           
{% endblock %}
