@media only screen and (min-width:980px) {
.navigation{ width:auto !important; float:right !important; margin:40px 0 0 0 !important;}
}

/************ Main **************/
@media only screen and (min-width: 768px) and (max-width: 980px) {
.setting{ min-height:80px; background:#000000;}
.container{ width:95%; margin:0 auto; padding:0;}
.navigation{ width:100%; float:left; margin:0;}

.framer-group-form .form-horizontal .control-label{ width:100px;}
.framer-group-form .form-horizontal .controls{ margin-left:120px;}


}

/************ Tablet **************/
@media only screen and (min-width: 481px) and (max-width: 767px) {
.setting{ min-height:80px; background:#0000FF;}
html { -webkit-text-size-adjust:none;}
.container{ width:95%; margin:0 auto; padding:0;}
.navigation{ width:100%; float:left; margin:0;}

.contact-no, .rss-detail{ width:100%; float:none; text-align:center; margin:3px 0;}
.contact-no img{ float:none; margin:0 5px 0 0;}
.rss-detail img{ float:none;}
.home-detail h1{ padding:5px 2%; text-align:center; line-height:normal; font-size:17px;}
.home-detail h1 img { display:none;}
.home-box-image{ text-align:center; margin-bottom:15px;}
.home-detail-box{ text-align:center;}
.home-box-image img{ width:auto;}
.footer-link{ text-align:center;}
.footer-link a{ float:none;}
.copyright{ width:100%; text-align:center;}

.inner-section h2{ padding:5px 2%; text-align:center; line-height:normal; font-size:17px;}
.inner-section h2 img { display:none;}

}

/************ iphone **************/
@media only screen and (min-width: 0px) and (max-width: 480px) {
.setting{ min-height:80px; background:#FF0000;}
html { -webkit-text-size-adjust:none;}
.container{ width:92%; margin:0 auto; padding:0;}
.navigation{ width:100%; float:left; margin:0;}

.contact-no, .rss-detail{ width:100%; float:none; text-align:center; margin:3px 0;}
.contact-no img{ float:none; margin:0 5px 0 0;}
.rss-detail img{ float:none;}
.home-detail h1{ padding:5px 2%; text-align:center; line-height:normal; font-size:17px;}
.home-detail h1 img { display:none;}
.home-box-image{ text-align:center; margin-bottom:15px;}
.home-detail-box{ text-align:center;}
.home-box-image img{ width:auto;}
.footer-link{ text-align:center;}
.footer-link a{ float:none;}
.copyright{ width:100%; text-align:center;}

.inner-section h2{ padding:5px 2%; text-align:center; line-height:normal; font-size:17px;}
.inner-section h2 img { display:none;}

.user-info h5{ margin-top:15px;}


}