
/*Customize sidebar colors*/
.skin-black .main-sidebar, .skin-black .left-side, .skin-black .wrapper {
    background-color: #f5f5f5;
}
.skin-black .sidebar > .sidebar-menu > li > a:hover, .skin-black .sidebar > .sidebar-menu > li.active > a{
    background-color:#ffc800 ;
}
.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
    background-color: rgba(0,0,0,.2);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: black;
}