

div.sonata-ba-field-inline-table  {
    overflow:auto;
}
/*
 * Skin: Black
 * -----------
 */
/* skin-black navbar */

.skin-black .treeview-menu > li > a {
    color: #fff;
}
.skin-black .treeview-menu > li.active > a,
.skin-black .treeview-menu > li > a:hover {
    color: #1d1d1d;

}
img.admin-preview {
    max-height: 200px;
    max-width: 200px;
}

.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
    background: #00a65a;
}

.skin-black .sidebar > .sidebar-menu > li > a:hover,
.skin-black .sidebar > .sidebar-menu > li.active > a {
    color: #fff;
    background: #008d4c;
    border-left-color: #fff;
}

.skin-black .main-sidebar, .skin-black .left-side, .skin-black .wrapper{
    background: #0e3029;
}

.skin-black .sidebar-form input[type="text"],
.skin-black .sidebar-form .btn {
    box-shadow: none;
    background-color: #fff;
    border: 1px solid transparent;
    height: 35px;
    -webkit-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    -o-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
    transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
}

.help-text {
    background-color: white; /* Green */
    border: none;
    color: #00A65A;
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#map { height: 180px; }
/*.skin-black .sidebar > .sidebar-menu > li > .treeview-menu {
  background: #0e3029;
}*/

.modal {
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}

.sidebar{
    overflow-y: auto !important;
}