/***********  11-3-2014  ************/

body{ padding:0; margin:0; font-family:Arial, Helvetica, sans-serif; border-top: 3px solid #60960a;}
a {outline:none !important;
-webkit-transition: all 400ms ease-in-out;
-moz-transition: all 400ms ease-in-out;
-ms-transition: all 400ms ease-in-out;
-o-transition: all 400ms ease-in-out;
transition: all 400ms ease-in-out;
}
a:hover, a:visited, a:focus{outline:none !important; text-decoration:none !important;}
* { padding:0; margin:0;}
input, button, select, textarea{ font-family:Arial, Helvetica, sans-serif;}

.container{ width:1000px; margin:0 auto; padding:0;}

/***********  Top Part  ************/

header{ width:100%; float:left; margin:0px; padding:0px;}
.brand{ margin:10px 0 0 0 !important; padding:0 !important;}
.navigation{ float:right; margin:40px 0 0 0;}
.navbar-inner{ padding:0; background:none; border:none;
-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}
.navbar .nav > li > a{ padding:5px 15px; font-size:13px; color:#60960A; font-weight:bold;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus{
  color:#fff;
  text-shadow:none;
  background-color: #60960A;
  -webkit-border-radius:5px;
     -moz-border-radius:5px;
          border-radius:5px;

}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color:#fff;
  text-shadow:none;
  background-color: #60960A;
  -webkit-border-radius:5px;
     -moz-border-radius:5px;
          border-radius:5px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
 color:#fff;
 text-shadow:none;
 background-color: #60960A;
  -webkit-border-radius:5px;
     -moz-border-radius:5px;
          border-radius:5px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
background: #60960A;
}
.dropdown-menu > li > a{ font-size:13px;}
.navbar .btn-navbar{ background:#60960a; margin-top:43px;}
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #60960a;
  *background-color: #60960a;
}
.navbar .nav{ margin:0;}
.navbar .nav > li{ margin-left:5px;}

/***********  Section Part  ************/

section{ width:100%; float:left; margin:0px; padding:0px;}

/************ Slider ***********/
.slider-sec{ width:100%; float:left; padding:0; margin:0;}
.slider-inner{ width:99%; float:left; padding:0.5%; margin:0; border:1px solid #d7d7d7; background:#fff;}
.slider-shadow{ width:100%; height:14px; float:left; padding:0; margin:0; background:url(../images/shaddow.png) no-repeat center top; background-size:100% 14px;}
.slider-inner .carousel{ margin:0;}
.slider-inner  .carousel-indicators{ top:auto; bottom:10px;}
.carousel-control{ border:none; background:none; opacity:9; top:50%;}


/************ Call Us ***********/
.call-us{ width:100%; float:left; padding:5px 0; margin:15px 0 0 0; background:#EAEAEA;
-webkit-box-shadow:0 0 27px #DBDBDB inset;
     -moz-box-shadow:0 0 27px #DBDBDB inset;
          box-shadow:0 0 27px #DBDBDB inset;

}
.contact-no{ float:left; padding:0; margin:0; font-size:18px; color:#60960a; text-shadow:1px 1px 1px #ffffff; line-height:36px;}
.contact-no img{ float:left; margin:2px 16px 0 0;}
.rss-detail{ float:right; padding:0; margin:0; font-size:18px; color:#60960a; text-shadow:1px 1px 1px #ffffff; line-height:36px;}
.rss-detail a{ font-size:18px; color:#60960a; text-shadow:1px 1px 1px #ffffff;}
.rss-detail img{ float:right; margin:0 0 0 10px;}

/*************** Home Detail *************/
.home-detail{ width:100%; float:left; padding:0; margin:35px 0 10px 0;}
.home-detail h1{ width:96%; float:left; padding:0 2%; margin:0 0 25px 0; background:#60960a; font-size:22px; color:#ffffff; font-weight:normal; text-shadow:1px 1px 1px #4a7308; line-height:37px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -khtml-border-radius:5px; }
.home-detail h1 img { width:35px; height:37px; float:left; padding:0; margin:0 10px 0 0; }
.home-detail p{ width:100%; float:left; padding:0; margin:0 0 15px 0; font-size:12px; line-height:18px; color:#000;}

/*************** Home Box *************/
.home-detail-2{ width:100%; float:left; padding:0; margin:0;}
.home-detail-box{ width:100%; min-height:120px; float:left !important; padding:15px; margin:0 0 25px 0; background:#fafafa; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -khtml-border-radius:5px; box-shadow:inset 0 0 27px #ebeaea; -moz-box-shadow:inset 0 0 27px #ebeaea; -webkit-box-shadow:inset 0 0 27px #ebeaea; -ms-box-shadow:inset 0 0 27px #ebeaea; -o-box-shadow:inset 0 0 27px #ebeaea; }

.home-box-image{ width:100%; float:left; padding:0; margin:0;}
.home-box-image img{ width:90%;}
.home-box-image img{ padding:3px; margin:0; background:#FFFFFF; border:1px solid #e5e5e5; text-align:center;}
.home-detail-3{ width:100%; float:left; padding:0; margin:0;}
.home-detail-3 h5{ width:100%; float:left; padding:0; margin:-2px 0 8px 0; font-size:16px; color:#60960a; font-weight:normal;}
.home-detail-3 p{ width:100%; float:left; padding:0; margin:0; font-size:12px; color:#797878; line-height:16px;}
.home-box-btn{ width:100%; float:left; padding:0; margin:8px 0 0 0;}
.home-box-btn .btn{ font-size:12px; color:#ffffff; border:1px solid #75b513; 
background-color: #83B322 !important; background-image: -moz-linear-gradient(center top, #A0D731, #83B322); background-repeat: repeat-x; border-color: #83B322 #83B322 #7BA920; color: #FFFFFF !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16); font-family:Arial, Helvetica, sans-serif;
}

/***********  Footer Part  ************/

footer{ width:100%; float:left; margin:0px; padding:0px;}
.footer-sec{ width:100%; float:left; padding:20px 0 10px 0; margin:25px 0 0 0; background:#60960a;}
.footer-link{ width:100%; min-height:inherit !important; float:left; padding:0; margin:0 0 10px 0;}
.footer-link a{ float:left; padding:0 10px 0 0; margin:0 10px 0 0; font-size:12px; color:#fff; border-right:1px solid #fff; line-height:normal;}
.footer-link a:last-child{ border:none;}
.copyright{ float:left; min-height:inherit !important; text-align:right; padding:0; margin:0; font-size:12px; color:#fff;}
.copyright a{ font-size:12px; color:#fff;}

/***********  Farmer List Page  ************/
.farmer-list{ width:100%; float:left; padding:0; margin:0;}
.call-us-inner{ margin-top:0;}

.inner-section{ width:100%; float:left; padding:0; margin:25px 0 0 0;}
.inner-section h2{ width:96%; float:left; padding:0 2%; margin:0 0 25px 0; background:#60960a; font-size:22px; color:#ffffff; font-weight:normal; text-shadow:1px 1px 1px #4a7308; line-height:37px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -khtml-border-radius:5px; }
.inner-section h2 img { width:35px; height:37px; float:left; padding:0; margin:0 10px 0 0; }



/******** Left *********/
.farmer-left{ width:100%; float:left !important; padding:0; margin:0 0 25px 0;}
.farmer-detail-1{ width:94%; float:left !important; padding:3%; margin:0; background:url(../images/pattern.png) repeat left top #5b9406;
border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;
}
.user-image{ float:left; padding:0; margin:0;}
.user-image img{ width:100%;}
.user-info{ width:100%; float:left; padding:0; margin:0;}
.user-info h5{ width:100%; float:left; padding:0; margin:0; font-size:15px; color:#fff; font-weight:bold;}
ul.user-detail-2{ width:100%; float:left; padding:0; margin:15px 0 0 0;}
ul.user-detail-2 li{ width:100%; float:left; padding:0 0 5px 0; margin:0 0 5px 0; list-style:none; border-bottom:1px solid #71ad17;}
ul.user-detail-2 li a{ font-size:12px; color:#fff;}
ul.user-detail-2 li img{ float:left; padding:0; margin:2px 10px 0 0;}

.module-detail{ width:96%; min-height:100px; float:left !important; padding:2%; margin:20px 0 0 0; border:1px solid #E6E5E5; border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px;}

.farmer-left h3{ width:96%; float:left; padding:0 2%; margin:0 0 10px 0; background:#60960a; font-size:16px; color:#ffffff; font-weight:normal; text-shadow:1px 1px 1px #4a7308; line-height:31px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -khtml-border-radius:5px; }
.farmer-left h3 img { width:28px; height:31px; float:left; padding:0; margin:0 10px 0 0; }
.module-detail ul{ width:100%; float:left; padding:0; margin:0;}
.module-detail ul li{ width:100%; float:left; padding:0 0 6px 0; margin:0 0 6px 0; list-style:none; border-bottom:1px dashed #cecece;}
.module-detail ul li a{ float:left; padding:0 0 0 25px; margin:0; font-size:13px; color:#414141; background:url(../images/arrow3.png) no-repeat 5px 8px;}
.module-detail ul li:last-child{ border:none; margin-bottom:0; padding-bottom:0;}
.module-detail ul li a:hover{ color:#5b9406; background:url(../images/arrow4.png) no-repeat 5px 8px;}

/******** Right *********/

.farmer-right{ width:100%; float:left; padding:0; margin:0;}
.framer-group{ width:96%; float:left !important; padding:2%; margin:0 0 20px 0;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.framer-group h3{ width:100%; float:left; padding:0; margin:0 0 15px 0; font-size:15px; color:#60960A; font-weight:bold; line-height:normal;}
.framer-group h3 a{ color:#60960A;}

.framer-group-form{ width:100%; float:left; padding:0; margin:0;}
.framer-group-form .form-horizontal{ margin:0;}
.framer-group-form .form-horizontal .control-group{ margin-bottom:10px;}
.btn-success-1{ background:#5b9406;}
.btn-success-1:hover, .btn-success-1:focus{ background:#487900;}
.farmer-detail-2{ width:100%; float:left; padding:0; margin:0;}
.farmer-detail-2 a{ color:#5b9406;}
.farmer-detail-2 a:hover{ color:#333333}

.table-listing{ width:100%; float:left; padding:0; margin:0;}
.framer-table{ width:100%; float:left; padding:0; margin:0; overflow:auto;}
.table-listing table{ width:100%; float:left; padding:0; margin:0;}
.table-listing .table th, .table-listing .table td{ text-align:center; vertical-align:middle;}
.table-listing .table thead th{ vertical-align:middle; background:#5b9406; color:#fff; font-size:13px;}
.table-listing input[type="checkbox"] { margin:0;}
.table-listing .table th, .table-listing .table td{ font-size:13px; padding:7px;}
.table-list-first{
  -webkit-border-radius:7px 0 0 0;
     -moz-border-radius:7px 0 0 0;
          border-radius:7px 0 0 0;
}
.table-list-last{
  -webkit-border-radius:0 7px 0 0;
     -moz-border-radius:0 7px 0 0;
          border-radius:0 7px 0 0;
}

.farmer-paging{ width:100%; float:left; padding:20px 0 0 0; margin:0 0 15px 0; border-top:1px solid #DDDDDD;}
.select-group{ float:right; padding:0; margin:0;}

.farmer-paiging a{ color:#333333;}

.register-inner .framer-group h3{ margin-bottom:0;}
.register-form{ width:100%; float:left; padding:0; margin:0;}
.register-detail-1{ color:red;}

body .button{
    line-height:26px;
    height:26px;
    font-size:12px;
    padding:0 10px;
    font-weight:bold;
    position:relative;

    -moz-border-radius:3px; 
    -webkit-border-radius:3px; 
    border-radius:3px; 
}

#pagination{
    display:block;
    float:right;
    padding:10px 0;
}

#pagination a.first, #pagination a.previous, #pagination a.next, #pagination a.last{
    display:block;
    float:left;
    margin:0 0 0 5px;
}

#pagination span.current{
    display:block;
    color:#fff;
    line-height:28px;
    font-size:12px;
    font-weight:bold;
    height:28px;
    min-width:28px;
    background:#555;
    float:left;
    text-align:center;
    margin:0 0 0 5px;

    -moz-border-radius:3px; 
    -webkit-border-radius:3px; 
    border-radius:3px; 
}

#pagination a.page{
    display:block;
    color:#555;
    line-height:26px;
    font-size:12px;
    height:26px;
    min-width:26px;
    background:#f9f9f9;
    float:left;
    border:1px solid #dfdfdf;
    text-align:center;
    margin:0 0 0 5px;

    -moz-border-radius:3px; 
    -webkit-border-radius:3px; 
    border-radius:3px; 
}

#pagination a.page:hover{
    border-color:#ccc;
    background:#eee;
}


/* white */
.white {
    color: #606060 !important;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top,  #fff,  #ededed);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
    background: #ededed;
    /* background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc)); */
    background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
    color: #999 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top,  #ededed,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

.sorted a {
  color: white;
}
a.sortable{
  padding-right: 20px;
  color: #FFFFFF;
  font-size: 13px;
  background: url(../images/bg.gif) no-repeat !important;
  background-position: right !important;
}
a.asc {
  padding-right: 20px;
  color: #FFFFFF;
  font-size: 13px;
  background: url(../images/asc.gif) no-repeat !important;
  background-position: right !important;
}

a.desc {
  padding-right: 20px;
  color: #FFFFFF;
  font-size: 13px;
  background: url(../images/desc.gif) no-repeat !important;
  background-position: right !important;
}
.farmerGroupError{
  color: red;
  width: 150px;
}

.agentCombo{
  clear: both;
  float: right;
}

.assignGroup{
  line-height: 30px;
}

.classMapTable th {background: url("/images/menu-line.jpg") repeat-x scroll left;font-size:14px;}
.classMapTable td {background-color: #FFFFFF;border-bottom: 1px solid #666666;border-style: none none solid;border-width: 0 0 1px;color: #333333;font-size: 13px;width: 78px;}

.loginForm{
  text-align: center;
}




/*################################################################################*/


.rating-3{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px; color:#c3c3c4;}
.rating-4{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#5b9506; font-weight:bold;}
.rating-4 a {text-decoration:none; color:#5b9506;}
.rating-4 a:hover {text-decoration:underline; color:#5b9506;}
.rating{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#c3c3c4;}

div.contact_contactName{
  color: #5b9506;
  vertical-align: top;
  float: left;

}

div.contact_businessName{
  margin-top: 15px;
  float: left;
  font-size: 15px;
}

td.contact_td{
  vertical-align: top !important;
  line-height: 0px !important;
  font-size: 17px !important;
  padding-top: 17px !important;
}

div.contact_location{
  clear: both;
  margin-top: 18px;
  text-align: left;
  width: 300px !important;
  float: left;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #c9c3c4;
}
div.contact_sectorName{
  margin-top: 32px;
  text-align: left;
  width: 500px !important;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #c9c3c4; 
}

div.contact_mobile{
  clear: both;
  margin-top: 18px;
  text-align: left;
  width: 300px !important;
  float: left;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #c9c3c4;
}
div.contact_group{
  margin-top: 18px;
  text-align: left;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #c9c3c4; 
}

a.placeholder{
  text-decoration: none;
  outline: none;
  color: #000;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  width: 100px !important;
}

.placeholder_table {
  width: 440px !important ;
}

h6 {
  margin: 0px;
  color: #5b9506;
  font-family: verdana;
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  border-bottom: 1px dashed;
  border-top: 1px dashed;
  border-color: #d7e2aa;
  padding: 4px 0 4px 4px;
}

.counter {
  position: relative;
  right: 0;
  top: 0;
  font-size: 20px;
  font-weight: bold;
  color: #ccc;
}

.goog-te-gadget-icon {display:none;}
.goog-te-gadget-simple a {text-decoration: none !important;}
.goog-te-banner-frame.skiptranslate {display: none !important;}
body
{top: 0px !important; position: static !important; }
.goog-te-banner-frame
{display:none !important}

.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
.subTable{
  width: 80% !important;
  margin-left: 9% !important;
  margin-right: 9% !important;
}
.tdContactGroup a{
  color: #000000 !important;
}
#subTableTr{
  display: none;
}

#icon-pannel ul{
  list-style: none;
}

.width15px{
  width: 15px;
}
a#btn_export{
  color: #fff !important;
}

.farmerDetails table td{
  text-align: left !important;
}
td.width50px{
  width: 80px !important;
}
.farmerDetails{
  display: none;
}
.framer-group{
  width: 94% !important;
}
td.fontBold{
  font-weight: bold;
}

