{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '::SonataAdmin/base_list.html.twig' %}
{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css" />
{#    <link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.3/esri-leaflet-geocoder.css">#}

{% endblock %}  

{% block list_table %}
    {{parent()}}
    {% set myObj = '' %}
    {% set myEle = {} %}
    
{#    {{ dump(admin.datagrid.results) }}#}
    {% for object in admin.datagrid.results %}

        {% if object.latitude is defined and object.latitude !=null %}
                {% set myEle = myEle|merge({(loop.index):{
    "type": "Feature",
    "properties": {
        "name": object.firstName,
        "amenity": "Baseball Stadium",
        "popupContent": "Name: "~object.firstName~" "~object.lastName~""
    },
    "geometry": {
        "type": "Point",
        "coordinates": [object.longitude,object.latitude]
    }
}}) %}
            {% endif %}

        {% endfor %}



    {% set myEle = myEle %}
    
    {% if myEle !=null %}
    <div class="col-xs-12 col-md-12">
        <div class="box box-primary">
            <div class="box-body table-responsive no-padding">
                <div id="map" style="height: 400px"></div>

            </div>
        </div>
    </div>
{% endif %}
    {% block javascript %}
        {#{{parent()}}#}
        <script src="{{ asset('bundles/report/js/leaflet.js') }}"></script>

    <!-- Load Esri Leaflet locally, after cloning this repository -->
    <script src="https://cdn.jsdelivr.net/leaflet.esri/2.0.0-beta.7/esri-leaflet.js"></script>
        <script>


            var map = L.map('map').setView([3.56072, 3.20385], 3);
            map.scrollWheelZoom.disable();
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYWN1dGV4IiwiYSI6ImNpazVldnVzcTAwMmx4YW0xOHdmZHR3NXgifQ.b96bXAxZorYrrmv3hVjuZA', {
                maxZoom: 18,
                attribution: 'mFarms Data &copy; <a href="http://mfarms.org">mFarms</a> ',
                id: 'mapbox.streets'
            }).addTo(map);
            {#L.marker([5.56072, -0.20385]).addTo(map)
                    .bindPopup("<b>Hello world!</b><br />I am a popup.{{''}}").openPopup();#}
                            {#L.circle([51.508, -0.11], 500, {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5
            }).addTo(map).bindPopup("I am a circle.");

            L.polygon([
                    [51.509, -0.08],
                    [51.503, -0.06],
                    [51.51, -0.047]
            ]).addTo(map).bindPopup("I am a polygon.");#}

            function onEachFeature(feature, layer) {
                // does this feature have a property named popupContent?
                if (feature.properties && feature.properties.popupContent) {
                    layer.bindPopup(feature.properties.popupContent);
                }
            }

            var geojsonFeature = {{ myEle|json_encode|raw }};
                    L.geoJson(geojsonFeature, {
                        onEachFeature: onEachFeature
                    }).addTo(map);
            var popup = L.popup();
            function onMapClick(e) {
                popup
                        .setLatLng(e.latlng)
                        .setContent("You clicked the map at " + e.latlng.toString())
                        .openOn(map);
            }

            map.on('click', onMapClick);


        </script>

    {% endblock %}

{% endblock %}

