{% extends '::layout.html.twig' %}

{% block stylesheets %}
    <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
{% endblock %}
{% block mymodule %} My Users{% endblock %}
{% block modulelist %} Edit User{% endblock %}
{% block right_section %}
{% if form %}
{% form_theme form '::fields.html.twig' %}
{% endif %}
<script src="{{ asset('js/SetMapLatlong.js') }}"></script>
 <div class="span9 farmer-right register-inner">
  <!-- Farmer Group -->
    <div class="framer-group">
      <h3><a href="#">Edit User</a></h3>
    </div>
                
    <div class="row-fluid register-form">
      <div class="span8">
        {%  if (form is not null and entity is defined ) %}
          <form action="{{ url('api_userbundle_put_user',{'id':entity.id}) }}.html" method="POST"  class="form-horizontal">
            <fieldset>
                <input type="hidden" name="_method" value="patch" >
                {{ form_row(form.email) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.middleName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.phoneNo) }}
                {{ form_row(form.mobileNo) }}
                {{ form_row(form.address) }}
                {{ form_row(form.country) }}
                {{ form_row(form.region) }}
                {{ form_row(form.district) }}
                {{ form_row(form.town) }}
                {{ form_row(form.logo) }}
                {{ form_row(form.technicalKnow) }}
                {{ form_row(form.serviceProvided) }}
                {{ form_row(form.latitude) }}
                {{ form_row(form.longitude) }}
                <div id="map" style="width:700px !important; height:500px !important;"></div>
                {{ form_row(form.save) }}
                {{ form_rest(form) }}
            </fieldset>             
          </form>
                
        {% endif %}
    </div>
  </div>
</div>
{% endblock %} 
{% block javascripts %}
    <script type="text/javascript">
        load();
    </script>
{% endblock %}