body{
	font-family: 'Work Sans', sans-serif;
}
.navbar-dark .navbar-nav .nav-link {
   color: white;
    display: inline-block;
    font-size: 12px;
    margin: 0 16px 0 16px;
    opacity: 0.8;
    padding: .3125rem 0 2px;
    text-decoration: none;
    transition: color 0.2s, opacity 0.2s;
    vertical-align: top;
	text-transform:uppercase;
	font-family: Work Sans;
}
li.nav-item.active .nav-link{
	color:#fff;
	font-weight:bold;
	border-bottom:1.5px solid #ddd;
}
.navbar ul li a{
    color:#fff;
}
main{
	margin-top:70px;
}
.navbar-brand {
    font-size: 1rem;
}
.bg-dark {
    background-color: #2684a3 !important;
}
.header-right{
	padding-left:0px;
	margin-bottom:5px;
	color:#fff;
}
.header-right li{
	list-style-type:none;
	display:inline;
cursor:pointer;	
vertical-align:middle;
color: white;
    display: inline-block;
    font-size: 12px;
    margin: 0 16px 0 16px;
    opacity: 0.8;
    padding: 8px 0 2px;
    text-decoration: none;
    transition: color 0.2s, opacity 0.2s;

}
.header-right li:first-child{
	margin-right:15px;
}
.header-right li i{
	    margin-right: 3px;
    font-size: 15px;
    vertical-align: middle;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
	margin-top:60px;
}

#sidebar {
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #222;
	    margin-left: -350px;
    transition: all 0.3s;
	border-right:1px solid #d1d1d1;
}

#sidebar.active {
    margin-left: 0px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
	    margin-top: 58px;
}

#sidebar ul.components {
    padding: 20px 10px;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #2684a3;
    background-color: #2684a3;
}
#sidebar ul p {
    color: #fff;
    /* padding: 10px; */
}

#sidebar ul li a {
   padding: 5px 10px;
    font-size: 1.1em;
    display: block;
	color: #434242;
	cursor:pointer;
	white-space: inherit;
}
#sidebar ul ul{
	padding-left:0px;
	    margin-bottom: 20px;
}
#sidebar ul li a:hover {
    color: #2684a3;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #626060;
    background: #ffffff;
	font-weight: bold;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus {
    box-shadow: none;
}.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
ul ul a {
    font-size: 0.9em !important;
}
ul a:hover{
	text-decoration:none;
}
ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.detail-box{
	margin-bottom:20px;
}
.detail-box h3{
	font-size: 18px;
    line-height: 28px;
    background: #2684a3;
    color: #fff;
    padding: 5px;
}
.detail-box h3 span{
	font-size:14px;
	font-style:italic;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    /* width: calc(100% - 350px); */
	width:100%;
    padding: 10px 20px;
    transition: all 0.3s;
    position: absolute;
    right: 0;
}
nav .btn-info, nav .btn-info:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
button.btn-btn-primary.view-details {
   background: #2684a3;
    color: #fff;
    padding: 8px 15px;
    border: 1px solid #2684a3;
    float: right;
    outline: none;
    border-radius: 0px;
    border-bottom: 4px solid #096d8e;
}
#viewdetails .modal-dialog {
    max-width: 600px;
    margin: 0.75rem auto;
}
.table td, .table th {
    padding: 6px;
	vertical-align:middle;
	font-size:14px;
}
.table tr:nth-child(odd){ 
		background: #e3e3e3;
	}
	/*  Define the background color for all the EVEN background rows  */
	.table tr:nth-child(even){
		background: #f5f5f5;
	}
	.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
#content.active {
    width: 100%;
}
.navbar-dark .navbar-toggler {
    outline: none;
}
.icon-left .fas{
	font-size:20px;
	color:#fff;
	margin-right:20px;
	cursor:pointer;
}
.detail-box-scroll{
	overflow-y: scroll;
    height: 100%;
    padding-bottom: 70px;
}
#sidebar-right {
  min-width: 350px;
  max-width: 350px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
  padding: 10px 10px;
    right: 0px;
	    background: #f3f3f3;
    z-index: 0;    top: 58px;
    height: 100%; }
.detail-box-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
  /* #sidebar-right:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #2f89fc;
    background: -moz-linear-gradient(-45deg, #2f89fc 0%, #5effc9 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #2f89fc), color-stop(100%, #5effc9));
    background: -webkit-linear-gradient(-45deg, #2f89fc 0%, #5effc9 100%);
    background: -o-linear-gradient(-45deg, #2f89fc 0%, #5effc9 100%);
    background: -ms-linear-gradient(-45deg, #2f89fc 0%, #5effc9 100%);
    background: -webkit-linear-gradient(315deg, #2f89fc 0%, #5effc9 100%);
    background: -o-linear-gradient(315deg, #2f89fc 0%, #5effc9 100%);
    background: linear-gradient(135deg, #2f89fc 0%, #5effc9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f89fc', endColorstr='#5effc9', GradientType=1 );
    opacity: .7;
    z-index: -1; } */
  #sidebar-right.active {
    margin-right: -350px; }
    #sidebar-right.active .custom-menu {
      margin-left: -73px; }
    /* #sidebar-right.active .btn.btn-primary:before {
      content: "\f053";
      font-family: "FontAwesome";
      right: 2px !important; }
    #sidebar-right.active .btn.btn-primary:after {
      display: none; } */
  #sidebar-right .h6 {
    color: #fff; }
  #sidebar-right h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px; }
    #sidebar-right h1 .logo {
      color: #fff;
      padding: 10px 30px;
      display: block; }
      #sidebar-right h1 .logo span {
        font-size: 13px;
        color: #fff;
        display: block; }
  #sidebar-right ul.components {
    padding: 0; }
  #sidebar-right ul li {
    font-size: 16px; }
    #sidebar-right ul li > ul {
      margin-left: 10px; }
      #sidebar-right ul li > ul li {
        font-size: 14px; }
    #sidebar-right ul li a {
      padding: 15px 30px;
      display: block;
      color: rgba(255, 255, 255, 0.9);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #sidebar-right ul li a:hover {
        color: #fff;
        background: #2f89fc;
        border-bottom: 1px solid #2f89fc; }
    #sidebar-right ul li.active > a {
      background: transparent;
      color: #fff; }
      #sidebar-right ul li.active > a:hover {
        background: #2f89fc;
        border-bottom: 1px solid #2f89fc; }
		

#viewdetails .title h5{
	color:#2684a3;
	margin: 0;
    font-size: 16px;
    font-weight: 400;
}		
#viewdetails .title h3{
	color:#2684a3;
	font-weight:bold;
	    font-size: 56px;
		text-transform:uppercase;		
}
#viewdetails .table tr:nth-child(odd) {
    background: #e3e3e3;
}		
#viewdetails .table tr:nth-child(even) {
    background: #f5f5f5;
}	
#viewdetails .details{
	margin-bottom:15px;
}		
#viewdetails h4 {
    font-size: 17px;
    background-color: #2684a3;
    padding: 5px 10px;
    color: #fff;
	    margin: 0;
	text-transform:uppercase;
}	
#viewdetails .modal-header{
	padding:0px;
}
#viewdetails .map-img{
	margin-bottom:20px;
}
#viewdetails .map-img h6{
	font-size: 10px;
    margin-top: 10px;
}
#viewdetails .map-img h4{
	color: #2684a3;
    font-size: 15px;
	background:#fff;
	padding:0px;
}	
#viewdetails h4 span{
	font-style:italic;
	font-size:11px;
}		
#viewdetails h4 span i{
	    float: right;
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 50px;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    background: #fff;
    color: #2684a3;
}
#viewdetails h4 span.num{
	    float: right;
    font-size: 13px;
    border: 1px solid #ddd;
    border-radius: 50px;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    background: #fff;
    color: #2684a3;
}
#viewdetails .details-logos {
    margin-bottom: 10px;
}
#viewdetails .modal-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    position: absolute;
    right: 5px;
    color: #fff;
    opacity: 1;
}
#viewdetails .table td,#viewdetails .table th {
    padding: 4px;
    vertical-align: middle;
    font-size: 13px;
}	
#viewdetails .table tr:last-child{
	border-bottom:2px solid #2684a3;
}		
.good-agriculture .title {
    background: #2684a3;
    color: #fff;
}
#viewdetails .good-agriculture .title  h3{
	color:#fff;
	    font-size: 20px;
    padding: 10px;
}		
#viewdetails .modal-footer p {
    font-size: 10px;
    font-style: italic;
    text-align: justify;
}	
	.header{
		position:relative;
	}
#transparent-header{
	position:absolute; width:100%;margin-top:20px;
}	
.header .header-right li {
   list-style-type: none;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 82px;
    text-align: center;
}		
.header .header-right li i {
    margin-right: 3px;
    font-size: 15px;
    vertical-align: middle;
}		
.header nav{
	/* margin-top:20px; */
}
nav.sticky {
    position: fixed;
    width: 100%;
	z-index:999;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, .6);
}		
.slider-content {
    position: absolute;
    top: 35%;
	width: 100%;
}	
.slider-content h1 {
       font-size: 34px;
    color: #fff;
    line-height: 46px;
    text-align: center;
    width: 100%;
    font-weight: 500;
	margin-bottom:30px;
}
li.breadcrumb-item {
    font-size: 12px;
}
.slider-content h1 span{
	font-style:italic;
	font-weight:bold;
}		
.slider-content .site-btn{
	background: #fff;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #2684a3;
	font-weight:500;
	font-style:italic;	
	margin-top:20px;
	padding:10px 20px;
	}	
.header	.navbar-dark .navbar-brand {
    color: #fff;
    /* font-weight: 500; */
    /* font-size: 20px; */
}
.section-title h2 {
    color: #2684a3;
}
.section-title p{
	    color: #9a9797;
}
.site-btn-green{
	background: #2684a3;
    border-bottom: 3px solid #075a75 !important;
    color: #fff;
    font-weight: 500;
    border-radius: 0;
    padding: 8px 40px;
    width: 100%;
}
.about-content {
	/* padding-top:50px; */
}
.about-content p{
    font-size: 18px;
    color: #767676;
    line-height: 32px;
    text-align: justify;
}
.testimonials{
	padding-top:50px;
	margin-bottom:40px;
}
.testimonials .blockquote {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    background: #2684a3;
    padding: 40px 40px 90px;
    border-radius: 15px;
    color: #fff;
}
.testimonials .blockquote p{
	font-size:16px;
line-height:32px;
    padding: 40px;
}
.testimonial-content {
	
    margin-top: -82px;
}
.testimonial-content .blockquote-footer {
    display: block;
    font-size: 18px;
    color: #6c757d;
    font-weight:600;
}
.client-review-stars{
	margin-top: 20px;
}
.client-review-stars i.fas.fa-star,.client-review-stars i.fas.fa-star-half-alt, .client-review-stars i.far.fa-star {
    color: #f5c80d;
}
.bottom-menu ul{
	padding-left:0;
	list-style-type:none;
	display:inline-block;
}
.bottom-menu ul li{
	display:inline-block;
}
.bottom-menu ul li a{
	color: white;
    display: inline-block;
    font-size: 12px;
    margin: 16px 24px;
    opacity: 0.8;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity 0.2s;
    width: 65px;
}
.bottom-menu ul li a img{
	margin:5px 0px;
}
footer{
	    border-top: 1px solid #ddd;
}
button.counter-btn {
    border-radius: 50px;
    background: #2684a3;
    border: 1px solid #2684a3;
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
}
.footer-inner{
	background:#fff;
	padding:40px 20px;
}
.social-links li {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
}
.footer-inner ul{
	padding-left:0px;
}
.footer-inner ul li{ 
	list-style-type:none;
	color: #adadad;
}
.footer-inner h5{
	color:#2684a3;
	font-size:24px;
	margin-bottom:20px;
}
footer p{
	color:#ababab;
	font-size:14px;
	text-transform:uppercase;
}
footer .details-logos{
	margin-top:20px;
}
footer h3{
	margin-bottom: 20px;
    color: #2684a3;
    font-weight: bold;
}
.footer-copyright{
	background-color:#2684a3;
	padding:10px;
}
.footer-copyright p{
	color:#fff;
	text-align:center;
	margin:0;
}
 section.login-section.sign-up {
    padding: 137px 10px;
}
section.login-section.sign-in {
    padding: 100px 100px;
    /* height: 100%; */
}

.login-section {
    /*background: url('../images/login.jpg') no-repeat;*/
    /*padding: 200px 10px;*/
    background-size: cover;
    height: 150vh;
    background: #ebecec;
}
button.btn.btn-primary.site-btn-green:hover {
    background: #2684a3;
    border: 1px solid #2684a3;
}
.btn-primary {
    border-color: #2684a3;
}
.login-content{
	background:#fff;
	/* padding:70px 50px; */
	box-shadow: 2px 3px 19px 4px #c4c3c3;
	position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);width: 80%;
    /* height: 80%; */
}
.login-form{
	padding:120px 50px;
	
}
.sign-in-mobile .facebook-btn {
    background: #3b5998;
    border: 1px solid #3b5998;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.sign-in-mobile .twitter-btn{
	background: #00acee;
    border: 1px solid #00acee;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.sign-in-mobile .googleplus-btn{
	background: #db4a39;
    border: 1px solid #db4a39;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 10px;
    text-align: center;
}
section.login-section.sign-up h5{
	font-size: 20px;
    color: #727272;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 50px;
}
.bottom{
	text-align:center;
	    padding-top: 40px;
}
.bottom a{
	color:#2684a3;
	text-decoration:none;
	text-align:center;
	/* position:absolute; */
	/* bottom:20px; */
	font-weight:600;
}
.social-login h6{
	margin:20px 0px;
}
section.login-section.sign-in h5{
    font-size: 22px;
    color: #8c8c8c;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin: 18px auto;
    margin-bottom: 60px;
}
.login-content input.form-control {
    border: transparent;
    border-bottom: 1px solid #ced4da;
    border-radius: 0px;
    margin-bottom: 20px;
    outline: none;
}
.login-content .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #aba8a8;
    outline: 0;
    box-shadow: none;
}
.facebook-btn{
	background:#3b5998;
	border:1px solid #3b5998;
	width:300px;
	border-radius:0px;
	margin-bottom:10px;
	    font-size: 14px;
}
.twitter-btn{
	border:1px solid #00acee;
	width:300px;
	border-radius:0px;
	margin-bottom:10px;
	background:#00acee;
	    font-size: 14px;
}
.googleplus-btn{
	background:#db4a39;
	border:1px solid #db4a39;
	width:300px;
	border-radius:0px;
	margin-bottom:10px;
	    font-size: 14px;
}
.login-content label{
	font-weight: 600;
    font-size: 18px;
    color: #616362;
}
.login-content h6{
	    font-size: 14px;
    color: #6c6868;
}
.login-content h6 a{
	color:#2684a3;
	text-decoration:none;
}
.form-btn{
	    padding-bottom: 30px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.sign-in-left{
	/* padding:40px; */
    background:url('../images/signin-bg.jpg');background-size:cover;    background-position: center;height: 100%;
}
.sign-up-left{
	/* padding:40px; */
    background:url('../images/signup-bg.jpg');background-size:cover;    background-position: center;height: 100%;
}
.breadcrumb {
    background-color: transparent;
}
.breadcrumb-item.active {
    color: #ffffff;
}
.breadcrumb-item a{
	color:#fff;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #ffffff;
    content: "/";
}
.breadcrumb {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}
.bottom-menu {
    margin-top: 95px;
}

.slider-content.about {
	top:45%;
}
.slider-content.about h1{
	margin-bottom:0px;
}
.about-us h4{
	color:#767676;
	font-size:32px;
	margin-bottom:20px;
}
.about-us h4 span{
	color:#2684a3;
}
.about-us p {
    font-size: 16px;
    line-height: 28px;
}
section.about-section.about-us {
    padding: 0 0 40px;
}
.latest-news{
	background:#f3f3f3;
	padding:50px;
}
.news-box{
	background:#fff;
	border-radius: 20px;
}
.news-content {
    padding-top: 40px;
}
.news-detail {
    /* padding: 20px; */
}
.news-detail h3 {
    font-size: 18px;
	padding: 20px;
}
.date-time {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px;
    font-size: 14px;	
	color:#868686;
}
.date-time i{
	margin-left:10px;
	margin-right:5px;
}
.news-detail p{
	padding:20px;
	font-size:15px;
	color:#ababab;
}
.contact .form-control {
    border: 1px solid #c6c6c6;
    border-radius: 50px;
    padding: 25px 15px;
    margin-bottom: 15px;
	outline:none;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #c6c6c6;
    outline: 0;
    box-shadow: none;
}
.contact-content {
    padding-top: 50px;
}
section.contact {
    padding-bottom: 40px;
}
/* .home-left .img-shadow-1
{
-webkit-box-shadow: 0 28px 16px -26px black;
-moz-box-shadow: 0 28px 16px -26px black;
box-shadow: 0 28px 16px -26px black;
} */

.img-shadow-1:hover
{
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);

-webkit-box-shadow: 0 58px 36px -56px #ccc;
-moz-box-shadow: 0 58px 36px -56px #ccc;
box-shadow: 0 58px 36px -56px #ccc;
}

.img-shadow-1
{
transition:all .6s ease-in-out;
-webkit-transition:all .6s ease-in-out;
-moz-transition:all .6s ease-in-out;
-ms-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
}

.img-shadow-1:hover
{
transition:all .6s ease-in-out;
-webkit-transition:all .6s ease-in-out;
-moz-transition:all .6s ease-in-out;
-ms-transition:all .6s ease-in-out;
-o-transition:all .6s ease-in-out;
}

.mobile-search i{
	color:#fff;
}
/* .header .header-right li:hover {
    background: #fff;
    color: #222;
    border: 1px solid #fff;
} */
div#zoomIn {
    width: auto;
    height: 182px;
    display: block;
    overflow: hidden;
}
#zoomIn img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#zoomIn:hover img{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
  @media (max-width: 991.98px) {
    #sidebar-right {
      margin-right: -350px; }
      #sidebar-right{
        margin-right: 0; }
      #sidebar-right .custom-menu {
        margin-left: -23px !important;
        top: 10px !important; } }
  #sidebar-right .custom-menu {
       display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    margin-left: -30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar-right .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    #sidebar-right .custom-menu .btn.btn-primary {
         background: #fff;
    border: 2px solid #2684a3;
    position: relative;
    color: #2684a3;
    width: 30px;
    font-weight: 500;
    height: 30px;
    padding: 0px;
    line-height: 12px;
    text-align: center;
    border-radius: 50px;}
      /* #sidebar-right .custom-menu .btn.btn-primary:after, #sidebar-right .custom-menu .btn.btn-primary:before {
        position: absolute;
        top: 2px;
        left: 0;
        right: 0;
        bottom: 0;
        font-family: "FontAwesome";
        } */
      /* #sidebar-right .custom-menu .btn.btn-primary:after {
        content: "\f054";
        left: 2px; } */

a[data-toggle="collapse"] {
  position: relative; }

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
.sign-in-mobile {
    background: url(../images/bg-login.jpg);
    background-position: center center;
    background-size: cover;
}
.sign-in-mobile .login-form {
    padding: 20px;
	margin-top: 50px;
}
.sign-in-mobile .login-content {
    background: transparent;
    box-shadow: none;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.sign-in-mobile h5 {
    font-size: 22px;
    color: #8c8c8c;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin: 18px auto;
    margin-bottom: 40px;
}
.remember-me{
	text-align:center;
}
.remember-me label{
	font-size: 14px;
}
.user-profile .avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-profile {
    margin: 30px auto;
    width: 100px;
    height: 100px;
	text-align:center;
    box-shadow: 2px 3px 11px 4px #d1cece;
    border-radius: 50px;
	overflow:hidden;
	vertical-align: middle;
}

.sign-up-mobile .login-content {
    background: transparent;
    box-shadow: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.sign-up-mobile .login-form {
    padding: 20px;
	margin-top: 95px;
}
.sign-up-mobile{
	background: url(images/bg-login.jpg);
    background-position: center center;
    background-size: cover;
}
.btn-other{
	width:180px;
}
.slider-content.main-page.text-center .bottom-menu {
    margin-top:16%;
}
.sign-up-mobile .bottom a{
	position:inherit;
}
.sign-in-mobile .bottom {
    text-align: center;
    margin-top: 30px;
}
.sign-in-mobile .bottom a{
	position:inherit;
}
@media (max-width: 1460px) {
	.slider-content.about {
    top: 35%;
}
	
	
}
@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none; } }
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
.navbar-dark .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: transparent;
}

@media (min-width: 1460px) and (max-width:1920px) {
.facebook-btn {
    background: #3b5998;
    border: 1px solid #3b5998;
    width: 200px;
    border-radius: 0px;
    margin-bottom: 10px;
	font-size:13px;
}	
.twitter-btn {
    border: 1px solid #00acee;
    width: 200px;
    border-radius: 0px;
    margin-bottom: 10px;
	font-size:13px;
    background: #00acee;
}
.googleplus-btn {
    background: #db4a39;
    border: 1px solid #db4a39;
    width: 200px;
    border-radius: 0px;
    margin-bottom: 10px;
	font-size:13px;
}	
}
@media (max-width: 1024px) and (max-height:1366px) {
.slider-content.main-page.text-center .bottom-menu {
    margin-top: 5%;
}
.slider-content h1 {
    font-size: 20px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    margin-bottom: 10px;
}
.btn-other {
    width: 130px;
    padding: 8px 0;
}
#sidebar-right {
    top: 55px !important;
}
}
@media (min-width:769px) and (max-width: 1024px) {
	
	#sidebar {
    width: 350px;
    position: fixed;
    top: 30px;
	}
	#sidebar-right {
    top: 91px;
}
.header-right{
	/* display:none; */
}
section.login-section.sign-up {
    padding: 30% 10px;
}
section.login-section.sign-in {
    padding: 30% 10px;
}
}
@media (min-width:600px) and (max-width: 768px) {
	#sidebar-right .custom-menu {
    margin-left: -82px !important;
    top: 10px !important;
}
    #sidebar {
        margin-left: -350px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    /*#content.active {
        width: calc(100% - 350px);
    }*/
    #sidebarCollapse span {
        display: none;
    }
	#sidebar-right {
    top: 94px;
}
div#map {
    margin-top: 30px;
}
#map{
	/* width:100%;
	height:100%; */
}
#sidebar-right .custom-menu .btn.btn-primary {
    /* right: 20px; */
}
.header .navbar-dark .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.header-right{
	display:none;
}
.login-content h6 {
    font-size: 12px;
}
}

@media (min-width: 769px) {
	.mobile-search {
		display:none;
	}
	
}
@media (min-width: 769px) {
.sign-in-desktop, .sign-up-desktop{
	display:block
}	
.sign-in-mobile, .sign-up-mobile{
	display:none;
}	
	
}
@media (max-width: 768px) {
	.bottom-menu{
		display:none;
	}

	.breadcrumb{
		display:none;
	}
.slider-content h1 {
    font-size: 32px;
    color: #fff;
    line-height: 56px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    margin-bottom: 7px;
}	
.sign-in-desktop, .sign-up-desktop{
	display:none;
}

}
@media (max-width: 767px) {
	#sidebar {
    width: 232px;
    margin-left: 0;
	}
	#sidebar.active{
    margin-left: -232px;
	}
	.header img{
	height:190px;
}

#viewdetails .title h3 {
    word-break: break-all;
	font-size:32px;
}
.navbar-dark .navbar-nav .nav-link{
	    margin-left: 0rem;
    margin-right: 0rem;
	outline:none;
}
.mobile-footer{
	display:none;
}
#sidebar-right.active .custom-menu .btn.btn-primary{
	right:0px;
}
.header-right{
	float:left !important;
	margin-top:20px;
}
#sidebar-right .custom-menu .btn.btn-primary {
    right: 20px;
}
#content {
    padding: 5px 20px;
}
div#viewdetails {
    padding-right: 0px !important;
}
.header-right{
	display:none;
}
.slider-content h1 {
    font-size: 18px;
    color: #fff;
    line-height: 24px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    margin-bottom: 0px;
	    margin-top: 30px;
}
#transparent-header{
	margin-top:0px;
}

.site-btn-green {
    background: #2684a3;
    border: 1px solid #2684a3;
    border-radius: 0px;
    color: #fff;
    font-weight: 500;
    margin-top: 18px;
    padding: 3px 16px;
}
footer {
    /* background: url(images/footer.jpg) no-repeat; */
    /* padding: 20px; */
    background-size: cover;
}
.latest-news {
    padding: 10px;
}
.about-us h4 {
    color: #767676;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.about-content {
    padding-top: 0px;
}
section.login-section.sign-in {
    padding: 20px 10px;
}
.login-content {
    padding: 20px;
}
section.login-section.sign-up {
    padding: 20px 10px;
}
.login-section{
	/* height:auto; */
}
}
@media (max-width:360px){
#sidebar-right {
    min-width: 317px;
    max-width: 349px;
}	
#sidebar-right {
    margin-right: -320px;
}
}
@media (max-width:320px){
	#sidebar-right {
    margin-right: -274px;
}
#sidebar-right {
    min-width: 190px;
    max-width: 270px;
}
#viewdetails .title h3 {
    word-break: break-all;
    font-size: 30px;
}
}